[Unit]
Description=Marlin Protocol Beacon Server

[Service]
User=marlin
Type=simple
WorkingDirectory=/home/marlin
ExecStart=/home/marlin-monitoring/bin/beacon/beacon
Restart=always
RestartSec=5

[Install]
WantedBy=defautl.target
