[Unit]
Description=Marlin Protocol Relay (requires Ehtereum Full Node to run) 

[Service]
User=marlin
Type=simple
WorkingDirectory=/home/marlin
ExecStart=/home/marlin-monitoring/bin/relay/relayexec "127.0.0.1:8002"
Restart=always
RestartSec=5

[Install]
WantedBy=defautl.target
