[Unit]
Description=Promtail is Log Shipping Agent to a Loki instance

[Service]
User=root
Type=simple
WorkingDirectory=/home/marlin-monitoring/bin
ExecStart=/home/marlin-monitoring/bin/promtail -config.file=/etc/promtail/promtail.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
