[Unit]
Description=Promtail is Log Shipping Agent to a Loki instance

[Service]
User=promtail
Type=simple
WorkingDirectory=/home/loki/promtail
ExecStart=/home/loki/promtail -config.file=/etc/promtail/promtail.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=defautl.target
